@import './animations';
@import './custom';
@import './variables';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $downy;
  color: #e8f8f5;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

.header, .footer {
  text-align: center;
}

.main {
  flex: 1 0 auto;

  .logo {
    display: block;
    margin: 0 auto;
    height: 120px;
    margin-bottom: 30px;
  }
}

.container {
  padding: 40px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

.pokeball-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.pokeball {
  background-image: url('http://img2.wikia.nocookie.net/__cb20131006042433/pokemontowerdefensetwo/images/4/4c/Pokeball.png');
  background-size: 100%;
  cursor: pointer;
  color: $white;
  text-decoration: none;
  height: 100px;
  width: 100px;
  position: relative;

  &:hover {
    -webkit-animation: shak 0.3s infinite;
    -moz-animation: shak 0.3s infinite;
    color: $white;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
  margin-top: 30px;
}

.flex-item {
  list-style: none;
  padding: 40px;
  background-color: #17a589;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.flex-item:hover {
  animation: bounce 0.5s linear;
}

.flex-item-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 26px;
  font-weight: normal;
}

.flex-item-subtitle {
  margin-top: 5px;
  font-weight: lighter;
}

.flex-item-image {
  height: 180px;
}

.flex-item-error {
  color: #a51717;
}

.find-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find {
  margin: 10px;
  border-radius: 10px;
}

.find-button {
  min-width: 10%;
  height: auto;
  border-radius: 10px;
  background-color: #015948;
  color: $white;
}

.is-hidden {
  display: none;
}